body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: white;
}

.top-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
}

a:link, a:visited {
    background-color: #000000;
    color: #c0c0c0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
a:hover, a:active {
    background-color: rgba(0, 47, 96, 0.518);
    color: #c0c0c0;
  }