body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    max-width: 1400px;
}

.top-menu-container {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    margin-left: 200px;
    color: #F9FAF8;
    font-size: 24px;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    color: white;
    gap: 20px;
    margin-right: 200px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
}

.hero-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero-left-box {
    display: flex;
    flex-direction: column;
}

.hero-main-text {
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 0px;
    padding-right: 200px;
    font-size: 48px;
}

.hero-secondary-text {
    margin-left: 200px;
    margin-top: 0px;
    font-size: 18px;
    font-weight: 350;
    color: #c0c0c0;
}

.sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
    margin-left: 250px;
    width: 75px;
    padding: 5px;
    border-radius: 7px;
    border-color: #3882F6;
    border: none;
}

a:link, a:visited {
    background-color: #1F2937;
    color: #c0c0c0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: #1F2937;
    color: #c0c0c0;
}

.header-image {
    height: 250px;
    width: 750px;
    margin-top: 50px;
    margin-right: 200px;
    margin-left: 20px;
}

.second-box {
    display: flex;
    flex-direction: column;
}

.second-box-title {
    margin: 50px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.second-box-images-container {
    display: flex;
    flex-direction: row;
}

.scnd-box-images {
    height: 250px;
    width: 250px;
    margin: 20px;
    border-radius: 30px;
}

.img-text {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #4c4c4c;
}

.third-row {
    display: flex;
    background-color: #E5E7EB;
    margin-top: 100px;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.testimonials {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    vertical-align: middle;
    padding: 50px;
}

.testimonial {
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
}

.testimonial-author {
    text-align: right;
    font-size: 24px;
}

.fourth-row {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    color: white;
    max-width: 1200px;
}

.fourth-row-text {
    display: flex;
    flex-direction: column;
}

.second-button-container {
    display: flex;
    align-items: center;
    
}

